.manage_cookie_monster {
    margin-left: 15px
}

.manage_cookie_monster h4 {
    color: orangered;
    font-size: 12pt;
    margin: 25px 0 10px 0;
}

.manage_cookie_monster label {
    display: inline-block;
    height: 120px;
    margin: 0 25px 0 0;
}

.manage_cookie_monster label img {
    display: block;
    padding-top: 15px;
}