
/**		cookie		**/
.cookie_monster_div {
	position: fixed;
	bottom: 35px;
	z-index: 9999;
	cursor: pointer;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.cookie_monster_div.left {
    left: 10px;
    padding: 15px 150px 15px 0;
    background: transparent left no-repeat;
}

.cookie_monster_div.right {
    right: 10px;
    background: transparent right no-repeat;
    padding: 15px 0 15px 150px;
}

.t_fixed {
	position: absolute;
	display: none;
	bottom: 45px;
	background: rgba(0,0,0,.85);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	width: 190px;
    color: #fff;
    font-size: 9pt;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
    text-align: center;
    padding: 12px 0;
}

.cookie_monster_div.left .t_fixed {
	left: 35px;
}

.cookie_monster_div.right .t_fixed {
	right: 35px;
}

.t_fixed b {
	font-weight: normal
}

.t_fixed p {
    color: #fff;
    font-size: 9pt;
    line-height: auto;
    padding: 0;
    margin: 0;
}

.t_fixed::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	border: 7px solid;
    border-color: transparent;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.cookie_monster_div.left .t_fixed::before {
    left: 10px;
	border-left-color: rgba(0,0,0,.8);
	border-top-color: rgba(0,0,0,.8);
}

.cookie_monster_div.right .t_fixed::before {
    right: 10px;
    border-right-color: rgba(0, 0, 0, 0.8);
    border-top-color: rgba(0, 0, 0, 0.8);
}

.t_fixed > a {
	position: relative;
	display: inline-block;
	margin: 5px;
	padding: 3px 7px;
	background: #fb9400;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold
}

a.toTop:hover .t_fixed,
.cookie_monster_div:hover .t_fixed {
	display: block
}
